/.bash_history
/.bash_logout
/.bash_profile
/.bashrc
/.cache
/.config
/.emacs
/.lesshst
/.mozilla
/.nv
/.ssh
/.vscode
/.vscode-server
/.wget-hsts
/A.bin
/B.bin
/C.bin
/analysis.txt
/gmon.out
/C_openmp.bin
/matrix_generation
/matrix_mult
/openmp_matrix_mult
/parallel_computation
/parallel_result.bin
/sequential_result.bin