/.bash_history
/.bash_logout
/.bash_profile
/.bashrc
/.cache
/.config
/.emacs
/.lesshst
/.mozilla
/.nv
/.ssh
/.vscode
/.vscode-server
/.wget-hsts
/A.bin
/B.bin
/C.bin
/analysis.txt
/matrix_multiplication
/parallel_computation
/gmon.out